<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meerkat">

    <!-- Permiso para acceder a Internet (necesario para Firebase y conexiones de red) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meerkat"
        tools:targetApi="31">

        <!-- Actividad de Login: primera pantalla al iniciar la app -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades de la aplicación -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".CreateStudentActivity"
            android:exported="true" />

        <activity
            android:name=".StudentListActivity"
            android:exported="true" />

        <activity
            android:name=".UpdateStudentActivity"
            android:exported="true" />

    </application>

</manifest>
